.btn-group{ id: "restaurant-#{restaurant.id}" }
  = link_to 'Like', like_restaurant_path(restaurant), method: :post,
      class: "btn btn-mini prefButton"
  = link_to 'Dislike', dislike_restaurant_path(restaurant), method: :post,
      class: "btn btn-mini prefButton"
  = link_to 'Edit', edit_restaurant_path(restaurant),
      class: "btn btn-mini btn-primary"
