<h1 class="offset1">Listing Restaurants</h1>
<div class= "hero-unit">

<% @restaurants.each do |restaurant| %>
  <div class="row-fluid">
    <div class= "span2"><%= restaurant.name %></div>

    <% unless !user_signed_in? %>
      <%= render partial: "preferences_btn_group", locals: { restaurant: restaurant } %>
    <% end %>
  </div>
<% end %>

<br />
<% unless !user_signed_in? %>
	<%= link_to 'New Restaurant', new_restaurant_path, class: "btn btn-success" %>
<% end %>
