@import "bootstrap";

body{
  padding-left: 10px;
  background-color:lightGrey;
  h1{
    color:white;
    -webkit-text-shadow: -1px -1px black;
    -moz-text-shadow: -1px -1px black;
    text-shadow: -1px -1px black;
  }
}
.row-fluid{
  margin: 1px;
}
.hero-unit{
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}
