@import "bootstrap";

body{
  padding-left: 10px;
  background-color:lightGrey;
  margin: 10px;
  h1{
    color:white;
    -webkit-text-shadow: -1px -1px black;
    -moz-text-shadow: -1px -1px black;
    text-shadow: -1px -1px black;
  }
}
.row-fluid{
  margin: 1px;
}
.hero-unit{
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background-color: #f9f9f9;
}
.navbar{
  margin-top: 10px;
}
nav,li{
  vertical-align: bottom;
  color:white;
  font-size:1.2em;
  -webkit-text-shadow: -1px -1px black;
  -moz-text-shadow: -1px -1px black;
  text-shadow: -1px -1px black;
  line-height:40px;
  p{
    padding-top: 11px;
  }
}
.brand {
  li{
    color:black;
  }
  color:black;
  margin: 150%;
  font-size:10;
}
.smaller{
  font-size:1em;
  line-height:14;
}
.prefButton{
  width:30px;
  text-align: center;
}
/*
.divider-vertical{
  height: 61px;
  other CSS keeps overwriting this, damn bootstrap
}*/